body{
    display: flex;
    justify-content: center;
    margin: 50px;
    border: 3px solid white;    
}
#click{
    margin-top: 20px;
    margin-left: -10px;
    position: absolute;
    font-size: 25px;
    color: green;
}
#title{
    position: absolute;
    margin-top: 450px;
    font-size: 41px;
    color: white; 
}
#discribe{
    color: white; 
    position: absolute;
    margin-top: 530px;
    font-size: 24px;
}
.heart-container{
    transform: rotate(-45deg);
    margin-left: 0px;
}
.heart {
    background-color: red;
    height: 100px;
    margin: 250px 0px;
    position: relative;
    top: 0;
    width: 100px;
    animation: beat 2.5s infinite ease-in;
    transform: rotate(-45deg);
    cursor: pointer;
    
}
.heart:before,
.heart:after{
    content: '';
    background-color: red;
    border-radius: 50%;
    height: 100px;
    position: absolute;
    width: 100px;
}
 .heart:before{
    top: -45px;
    left: 0;
}
.heart:after{
    left: 45px;
    top: 0px;
} 

@keyframes beat {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.4);
    }
    50% {
        transform: scale(1.2);
    }
    75% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1);
    }
}
button{
    height: 0.1px;
    width: 0.1px;
}